body {
  background-color: white;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1 {
  text-align: center;
  margin-top: 25px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row {
    width: 100%;
    }

.box {
  background-color: #999999;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 0px;
  padding-bottom: 50px;
  border: 3px solid black;
  width: 30%;
  float: left;
  margin-top: 50px;
  margin-left: 25px;
  overflow: auto;
}

.category {
    border: 3px solid black;
    text-align: center;
    width: 200px;
    margin-left: auto;
    margin-right: 0;
}

#poultry {
    background-color: #d59898;
}

#meat {
    background-color: #c14543;
    color: white;
}

#special {
    background-color: #e5d198;
}

