body {
    font-size: 20px;
    color: #008aa1;
    background-color: #b5ffc2;
    font-family: 'Open Sans Condensed', sans-serif;
}

/** HEADER **/
#header-nav {
    background-color: #ffe600;
    border-radius: 0;
    border: 0;
}
  
.navbar-brand {
    padding-top: 15px;
}
  
.navbar-brand h1 { /* Restaurant name */
    font-family: 'Mochiy Pop P One', sans-serif;
    color: #008aa1;
    font-size: 1.75em;
    font-weight: bold;
    text-shadow: 3px 3px 3px #b5ffc2;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
#nav-list {
    margin-top: 0px;
    background-color: #ffe600;
}
#nav-list a {
    color: #008aa1;
    text-align: center;
    font-family: 'Mochiy Pop P One', sans-serif;
}
#nav-list a:hover {
    background: #008aa1;
    color: #fff;
    font-size: 1.1em;
}
#nav-list a span {
    font-size: 1.5em;
}

  
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #008aa1;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}

/* END OF HEADER */

/* HOME PAGE */
#menu-title {
  margin-bottom: 50px;
  padding: 0;
  font-family: 'Mochiy Pop P One', sans-serif;
}

.row {
  height: 1500px;
  background-color: #d9796f;
}
/*category-tile names*/
.category-tile span{
  font-family: 'Mochiy Pop P One', sans-serif;
  color: #008aa1;
}
.category-tile {
  background-color: #ffe600;
  margin: 15px auto 0px;

}

.category-tile a:hover span {
    color: #008aa1;
    font-size: 1.2em;
}
/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
      }
      .col-lg-1 {
        width: 8.33%;
      }
      .col-lg-2 {
        width: 16.66%;
      }
      .col-lg-3 {
        width: 25%;
      }
      .col-lg-4 {
        width: 33.33%;
      }
      .col-lg-5 {
        width: 41.66%;
      }
      .col-lg-6 {
        width: 50%;
      }
      .col-lg-7 {
        width: 58.33%;
      }
      .col-lg-8 {
        width: 66.66%;
      }
      .col-lg-9 {
        width: 74.99%;
      }
      .col-lg-10 {
        width: 83.33%;
      }
      .col-lg-11 {
        width: 91.66%;
      }
      .col-lg-12 {
        width: 100%;
      }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
      }
      .col-lg-1 {
        width: 8.33%;
      }
      .col-lg-2 {
        width: 16.66%;
      }
      .col-lg-3 {
        width: 25%;
      }
      .col-lg-4 {
        width: 33.33%;
      }
      .col-lg-5 {
        width: 41.66%;
      }
      .col-lg-6 {
        width: 50%;
      }
      .col-lg-7 {
        width: 58.33%;
      }
      .col-lg-8 {
        width: 66.66%;
      }
      .col-lg-9 {
        width: 74.99%;
      }
      .col-lg-10 {
        width: 83.33%;
      }
      .col-lg-11 {
        width: 91.66%;
      }
      .col-lg-12 {
        width: 100%;
      }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
   
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
      }
      .col-lg-1 {
        width: 8.33%;
      }
      .col-lg-2 {
        width: 16.66%;
      }
      .col-lg-3 {
        width: 25%;
      }
      .col-lg-4 {
        width: 33.33%;
      }
      .col-lg-5 {
        width: 41.66%;
      }
      .col-lg-6 {
        width: 50%;
      }
      .col-lg-7 {
        width: 58.33%;
      }
      .col-lg-8 {
        width: 66.66%;
      }
      .col-lg-9 {
        width: 74.99%;
      }
      .col-lg-10 {
        width: 83.33%;
      }
      .col-lg-11 {
        width: 91.66%;
      }
      .col-lg-12 {
        width: 100%;
      }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 60px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 3vw;
  }

  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }

}
